<head>
    <style>
        body{
            text-align: center;
            background-color: antiquewhite;
            margin-top: 100px;
        }
        img{
            width: 350px;
            height: 220px ;
        }
    </style>
</head>
<body>
        <h1>About</h1>

        <p> 워드카운트 웹페이지입니다 </p>
        
        <a href="{%url 'home'%}"> Home으로 돌아가기
        <br>
        <br>
        <img src="https://t1.daumcdn.net/friends/www/resources/images/m640/bg_char.jpg">
        </a>
</body>
